.titulo {
    color: rgb(0, 0, 0);
}

.subtitulo{
    color: rgb(97, 97, 97);
}

.borde-seccion{
    border: 1px solid rgb(31, 128, 255);
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    
}

.profile-image {
    border: 1px solid rgb(12, 12, 12);
    border-radius: 30px;
    padding: 5px;
    width: 150px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


#info-details{
    border-radius: 40%;
}

.botones{
    padding-left: 7.5%;
    margin-top: 10px;
}
